<mat-drawer-container class="container">
    <mat-drawer-content>
        <div fxLayout="column" class="grid-container">
            <mat-card fxFlex>
                <mat-card-title fxLayout="row">
                  <h2 class="mat-h2">Enter the sentence</h2>
                </mat-card-title>

                <form [formGroup]="form" (ngSubmit)="validateSentence()">
                    <mat-card-content>
                        <div class="from-group mb-3">
                            <div class="input-group">                                                                
                                <mat-form-field style="width: 100%;" appearance="fill">
                                    <mat-label>Negative sentence in present tense</mat-label>
                                    <input type="text" matInput formControlName="sentences" [maxlength]="maxLabelSentence" placeholder="This book is not mine">
                                    <mat-icon matSuffix>font_download</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group mb-3">                            
                            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
                                <button mat-fab mat-raised-button class="btn btn-success" color="primary" type="submit" matTooltip="Validate sentence" [disabled]="form.invalid">
                                    <mat-icon>check</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </form>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
